/* Agenda Section Styles */

/* Main layout for agenda section */
.agenda {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue);
    color: var(--white);
    gap: 50px;
    padding: 50px 20%;
}

/* Agenda title styles */
.agenda .agenda-info h3 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

/* Agenda list styles */
.agenda .agenda-info ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
    list-style: none;
}

/* Agenda item styles */
.agenda .agenda-info ul li div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--lightgrey);
    color: var(--black);
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 1450px) {
    /* Adjust layout for smaller screens */
    .agenda {
        padding-left: 10%;
        padding-right: 10%;
        flex-direction: column;
    }
}