/* Main CSS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Variables */
:root {
    --darkblue: #001B31;
    --blue: #004A8A;
    --yellow: #FBCA42;
    --darkyellow: #F2A900;
    --white: #FFFFFF;
    --black: #000000;
    --gray: #2D2D2D;
    --lightgrey: #F2F2F2;
}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Button Styles */
button, input[type="submit"], input[type="reset"] {
    cursor: pointer;
    background-color: var(--yellow);
	color: var(--black);
    border-radius: 3px;
	border: none;
	padding: 6px 10px;
	font-family: 'Inter', sans-serif;
    font-weight: 600;
	cursor: pointer;
	outline: inherit;
    font-size: 16px;
    transition: 0.2s ease;
}

/* Button Hover Effect */
button:hover, input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: var(--darkyellow);
    color: var(--black);
    transition: 0.2s ease;
}

/* Header 1 Styles */
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
}

/* Header 2 Styles */
h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.85rem;
}

/* Header 3 Styles */
h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.55rem;
}

/* Header 4, 5 & 6 Styles */
h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

/* Paragraph Styles */
p {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 1.25rem;
}

/* Under Text Styles */
.undertext {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 1.25rem;
}

/* Link Styles */
a, li, span {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: var(--white);
}

/* Menu Styles */

/* Sticky Header */
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    overflow: visible;
}

/* Logo */
#menu-logo {
    position: absolute;
    padding: 20px 0% 0% 20%;
    z-index: 1000;
}

/* Language Selector */
#menu-languages {
    display: flex;
    justify-content: flex-end;
    background-color: var(--darkblue);
    padding: 10px 20%;
}

#menu-languages img {
    cursor: pointer;
    margin-left: 10px;
    width: 30px;
}

/* Navigation Bar */
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--blue);
    padding: 25px 20%;
    height: 75px;
    position: relative;
    overflow: visible;
}

/* Navigation Items */
nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 25px;
    margin: 0;
    padding: 0;
}

nav ul li {
    position: relative;
    cursor: default;
    margin-bottom: 5px;
}

/* Links */
nav ul li a,
nav ul li span {
    color: var(--white);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

nav ul li a:hover,
nav ul li span:hover {
    color: var(--yellow);
}

/* Dropdown */
.dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    background-color: var(--blue);
    min-width: 160px;
    padding: 5px 0;
    z-index: 9999;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.dropdown-content a {
    display: block;
    padding: 5px 10px;
    color: var(--white);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.dropdown-content a:hover {
    color: var(--yellow);
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
}

/* Underbar */
#menu-underbar {
    background-color: var(--yellow);
    padding: 5px;
}

/* Hamburger Menu Icon (hidden by default) */
#menu-hamburger {
    display: none;
}

/* Responsive Rules */
@media screen and (max-width: 1650px) {
    /* Hide Normal Menu */
    nav ul {
        display: none;
    }

    /* Show hamburger menu icon */
    #menu-hamburger {
        display: block;
        cursor: pointer;
        color: var(--white);
    } */
/* }

@media screen and (max-width: 1450px) {
    /* Adjust padding for smaller screens */
    #menu-logo, #menu-languages, nav {
        padding-left: 10%;
        padding-right: 10%; 
    }
}

/* Hero Section Styles */

/* Section Style for Hero */
.hero {
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
    text-align: center;
    padding: 0% 20%;
}

/* Footer Styles */

/* Main footer layout */
footer {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    gap: 20px;
    padding: 100px 20%;
    background-color: var(--gray);
    color: var(--white);
    margin-top: 100px;
}

/* Footer column styles */
footer div {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    text-align: left;
    gap: 10px;
}

/* Footer links */
footer div a {
    color: var(--white);
    text-decoration: none;
}

/* Footer bottom bar */
.footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--black);
    color: var(--white);
    padding: 20px 0;
}

/* Responsive footer styles */
@media screen and (max-width: 1450px) {
    /* Adjust footer padding */
    footer {
        padding-left: 10%;
        padding-right: 10%;
    }

    /* Stack footer columns vertically */
    footer {
        flex-direction: column;
        grid-template-columns: repeat(1, 100%);
        gap: 50px;
    }
}