.lidmaatschap-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 20%;
    gap: 20px;
}

.lidmaatschap-section .group {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

.lidmaatschap-section .group .group-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 60px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--blue);
    color: var(--white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 275px;
}

.lidmaatschap-section .group .selected {
    background-color: var(--yellow) !important;
    color: var(--black) !important;
}

.lidmaatschap-section .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lidmaatschap-section .info form {
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form input,
form select {
    padding: 10px;
    border: 1px solid var(--grey);
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    background-color: var(--lightgrey);
    color: var(--black);
    font-family: 'Inter', sans-serif;
}

form .row {
    display: flex;
    gap: 10px;
}

form .row input {
    flex: 1;
}

form label {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


form .gender-options {
    display: flex;
    gap: 10px;
    align-items: right;
    font-size: 16px;
}

form button {
    background-color: var(--yellow);
    color: var(--black);
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

form button:hover {
    background-color: #e6b930;
}

.lidmaatschap-section .info, .lidmaatschap-section .lidmaatschap-info{
    gap: 20px;
}

@media screen and (max-width: 1450px) {
    .lidmaatschap-section {
        padding-left: 10%;
        padding-right: 10%;
    }

    .lidmaatschap-section .group {
        grid-template-columns: auto;
    }
}