menu {
    position: sticky;
    top: 0;
    z-index: 1000;
}

menu #menu-logo {
    position: absolute;
    padding: 20px;
}

menu #menu-languages {
    display: flex;
    justify-content: flex-end;
    background-color: var(--darkblue);
    padding: 15px 20px;
}

menu nav {
    display: flex;
    justify-content: flex-end;
    background-color: var(--blue);
    padding: 25px 20px;
}

menu nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 25px;
}

menu nav ul li {
    cursor: default;
    margin-bottom: 5px;
}

menu nav ul li a:hover {
    color: var(--yellow);
    transition: color 0.2s ease-in-out;
}

menu #menu-underbar {
    background-color: var(--yellow);
    padding: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    background-color: var(--blue);
    min-width: 160px;
    padding: 5px 0;
    z-index: 1;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.dropdown-content a {
    display: block;
    padding: 5px 10px;
    color: var(--white);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.dropdown-content a:hover {
    color: var(--yellow);
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
}

menu nav #menu-hamburger {
    display: none;
}

@media screen and (max-width: 1000px) {
    menu nav ul {
        display: none;
    }

    menu nav #menu-hamburger {
        display: block;
    }
}