/* News Page Styles */

/* News section layout */
.news {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
    padding: 100px 20%;
}

/* Individual news item styles */
.news .news-item {
    display: flex;
    flex-direction: column;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 1450px) {
    /* Adjust padding and grid layout */
    .news {
        padding-left: 10%;
        padding-right: 10%;
        grid-template-columns: auto;
    }
}